*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main
{
    width:60%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
   
  
    height: 60%;
   
    box-shadow: 0px 0px 3px grey;
    margin-top: 25px;
    
  
   
}

.left
{
    width:40%;
    height: 400px;
    background-image: url("loginimg.png");
    background-repeat: no-repeat;
    
  background-position: center 250px;
    
    background-color: #2874f0;
    display: inline-block;
    
  padding: 44px 33px;
  background-size: 170px 120px;
 
}
 

   
   
   
    
    
    


 

.left span 
{
    color: white;
    font-size: 25px;
    font-weight: 500;
    font-family: 'roboto';
}
.left p 
{
    color: #dbdbdb;
    font-size: 14px;
    font-weight: 500;
    font-family: 'roboto';
    margin-top: 16px;
   
}

.right
{
    padding: 56px 35px 16px;
    height: 400px;
    width:80%;

   

}

.right input
{
    border: none;
    
    font-size: 12px;
    
   padding-bottom: 10px;
    outline: none;
    width: 100%;
    border-bottom: 1px solid gray;
    
}

.right p
{
    font-size: 11px;
    font-weight: 500;
    font-family: 'roboto';
    padding-top: 30px;
    color: grey;
    
    
}
.right p a
{
    text-decoration: none;
}

.right .button
{
    background-color: #fb641b;
    outline: none;
    border: none;
    padding: 13px 120px;
    color: white;
    font-family: 'roboto';
    margin-top: 15px;
}
.right .create
{
    text-decoration: none;
    font-family: 'roboto';
    font-size: 13px;
  display: flex;
  justify-content: left;
  margin-top: 140px;
  padding-left: 55px;
}
.cross
{
    font-family: 'roboto';
    font-size: 35px;
    position: relative;
    left: 33px;
    bottom:5px;
    
    
}
.cross a
{
    text-decoration: none;
    color: black;
    
}

.button1
{
    background-color: white;
    outline: none;
    border: none;
    padding: 13px 93px;
    box-shadow: 0px 0px 3px grey;
    font-family: 'roboto';
    margin-top: 15px;
    
}

.button1 a
{
    text-decoration: none;
}




